html {
    background-color: #55503e;
    color: #a1a17f;
    font-size: 15px;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #222019;
    display: flex;
    height: 5rem;
    border-bottom: 1px #daa520ac solid;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo_link {
    text-decoration: none;
    width: 20%;
    align-self: center;
    margin: 1rem;
    box-sizing: border-box;
}

header nav {
    color: #bbbb9d;
    width: 94%;
    align-self: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul li {
    width: calc(100% / 3);
    margin: 0
}

#current_page {
    background-color: #55503e;
    cursor: auto;
    color: #bbbb9d;
    box-shadow: 0px 0px 15px 17px #222019 inset;
}

ul a {
    text-decoration: none;
    font-size: 17px;
    color: #bbbb9d;
    display: block;
    width: 100%;
    line-height: 5rem;
    text-align: center;
}

li a:hover {
    background-color: hsla(0, 0%, 100%, 0.459);
    color: antiquewhite;
    box-shadow: 0px 0px 15px 17px #222019 inset;
}

main {
    background-color: hsla(0, 0%, 0%, 0.137);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12rem;
    min-height: calc(100vh - 11rem);
}

h1 {
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    height:2rem;
}
#index h1 {
    font-size: 40px;
    margin: 0;
    margin-top: 13rem;
    text-align: center;
    
}
#index p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

}
#index main img {
    width: 100%;
    height: auto;
    margin:0;
    margin-bottom: 2.5rem;
    align-content: center;
    box-shadow: 0px 0px 50px 0px #daa520ac;
}

#main_paragraph {
    margin: 2rem;
    margin-top: 0;
}

section {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0.5rem;
    margin-bottom: 4rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.5);
}

section h2 {
    width: 100%;
    margin-left: 1rem;
}

section img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

article {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
}
#contact section{
    width: 100%;
}
#odd {
    border-bottom: 2px #daa520ac double;
}

#last_odd {
    border-bottom: 2px #daa520ac double;
}

#even {
    border-bottom: 2px #daa520ac double;
}

figure {
    margin: 0.3rem 1rem 0 0;
    float: left;
    color: rgba(255, 208, 150, 0.856);
}

figcaption {
    padding: 1rem;
    padding-left: 0;
}

aside {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    width: 100%;
    border-radius: 10px;
    padding-right: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2) inset;
}

footer {
    background-color: #222019;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 7rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top: 1px #daa520ac solid;
}

footer form {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

form h3 {
    position: relative;
    left: 1rem;
}

form input {
    color: #a1a17f;
    border-radius: 10px;
    background-color: #55503e;
    position: relative;
    left:5rem;
}

@media screen and (min-width: 769px) {

    .container {
        width: 80%;
    }

    header {
        width: 80%;
        border-radius: 0 0 3px 3px;
    }

    header nav {
        width: 85%;
        position: absolute;
        right: 0;
    }


    #logo_link {
        width: 6%;
    }


    main {
        padding: 1rem;
        padding-bottom: 10rem;
        box-shadow: 0px 0px 15px 0px #daa520ac, 0px 0px 5px 0px #daa520ac inset;
    }

    #h1 {
        text-align: left;
        margin-left: 2rem;
    }

    section {
        width: 77.3%;
        margin: 0rem;
    }

    article {
        padding: 1rem;
        width:100%;
        box-sizing: border-box;
    }
    
    #products article {
        width: 50%;
    }
    aside {
        width: 20%;
        margin: 0;
        margin-left: 1rem;
        padding-right: 1%;
        box-sizing: border-box;
    }

    #even {
        border-bottom: 1px #daa520ac solid;
    }

    #odd {
        border-right: 1px #daa520ac solid;
        border-bottom: 1px #daa520ac solid;
    }

    #last_odd {
        border-right: 1px #daa520ac solid;
        border-bottom: none;
    }
    footer {
        border-radius: 2px 2px 0 0;
    }
}